body{color:rgb(223, 226, 9); text-align: center; background-image: url(fundo.jpg); background-position: 3px 1px; padding: 1px;}

.bob{padding: 2%;}

.texto1{color:rgb(95, 247, 7); background-color: rgb(37, 36, 36);}

.feitos{color: rgb(247, 23, 7); background-color: black;}

.o{color: rgb(95, 247, 7); background-color: rgb(31, 29, 29);}

.youtube{display: inline-block;max-width: 120.120%;border: transparent thin solid;padding: 4%; text-align: center;}

.criador{background-color: black; color: white}

